.product {
  &.lucky {
    background: $urchin-blue;
    color: $urchin-black;

    .product-intro-overlay.d-none.d-md-block::after {
      content: "";
      width: 100%;
      height: 650px;
      background: linear-gradient(to bottom, rgba(59, 186, 201, 0), rgb(59, 186, 201) 50%);
      position: absolute;
      left: 0;
      right: 0;
      bottom: -100px;
      z-index: 10;
    }

    &-intro {
      height: auto !important;
      height: -webkit-fill-available;
      // background-image: none;

      @media (min-width: 992px) {
        padding-block: 5rem;
      }

      &-image {
        width: 100%;
        height: 120vh;
        // min-height: -webkit-fill-available;
        justify-content: flex-end;
        scroll-snap-align: start;
      }

      &-text {
        width: 100%;
        scroll-snap-align: end;

        @media (max-width: 992px) {
          width: 50%;
        }
      }

      img {
        width: 90%;
      }

      &-overlay {
        // &::after {
        //   content: "";
        //   background: linear-gradient(to bottom, transparent, rgb(59, 186, 201) 50%);
        //   width: 100%;
        //   height: 650px;
        //   position: absolute;
        //   left: 0;
        //   right: 0;
        //   bottom: -100px;
        //   z-index: 10;
        // }

        &-parallax {
          position: fixed;

          &:first-of-type {
            height: 150px;
            width: auto;
            top: 65%;
            right: 20%;
            transform: rotate(-56deg);
          }
          &:nth-of-type(2) {
            height: 150px;
            width: auto;
            top: 75%;
            left: 15%;
            transform: rotate(15deg);
          }
          &:nth-of-type(3) {
            height: 300px;
            width: auto;
            top: 25%;
            right: 10%;
            transform: rotate(-33deg);
          }
          &:last-of-type {
            height: 250px;
            width: auto;
            top: 30%;
            left: 10%;
            transform: rotate(-20deg);
          }
        }
      }

      &-mobile {
        z-index: 10;

        &-title {
          color: $urchin-black;
          font-family: $urchin-font-title;
          font-size: 3.42rem;
          line-height: 3.42rem;
          z-index: inherit;
        }

        &-subtitle {
          color: $urchin-black;
          font-family: $urchin-font-body;
          font-size: 2.8rem;
          line-height: 2.8rem;
          z-index: inherit;
        }

        &-arrow {
          height: 2.5rem;
        }
      }

      img {
        width: 75%;
        margin: 1rem 0;
        z-index: 10;

        @media (min-width: 992px) {
          max-width: 40%;
          margin: 0.5rem 0;
        }
      }

      &-text {
        color: $urchin-black;
        width: 50%;
        margin-top: 5rem;
        position: relative;
        z-index: 10;

        &-title {
          color: $urchin-black;
          font-family: $urchin-font-title;
          font-size: 3.42rem;
          line-height: 3.42rem;
          z-index: 10;
          text-transform: full-width;
          -webkit-transform: scale(1.3, 1);
          -moz-transform: scale(1.3, 1);
          -ms-transform: scale(1.3, 1);
          -o-transform: scale(1.3, 1);
          transform: scale(1.3, 1);
          font-weight: 600;
        }

        &-body {
          color: $urchin-black;
          font-family: "Migra", serif;
          z-index: 10;

          p {
            color: $urchin-black;
          }
        }
      }
    }

    &-suggestions {
      background: $urchin-blue;
      position: relative;
      display: flex;
      z-index: 10;

      @media (min-width: 992px) {
        background: $urchin-cream;

        &:last-of-type {
          background: $urchin-blue !important;
        }
      }

      &-drinks {
      }

      &-img {
        width: 40vh;
      }
    }

    &-slogan {
      &-text {
        width: 100%;
        border: 0.8rem solid #000000;
        padding: 2rem 0;

        h3 {
          font-size: 2.6rem;
          text-transform: uppercase;

          span {
            color: $urchin-blue;
          }

          &::before {
            content: url("../img/R7_Lucky_Slogan_Flourish.svg");
            height: 2rem;
            width: 2rem;
          }

          &::after {
            content: url("../img/R7_Lucky_Slogan_Flourish.svg");
            height: 2rem;
            width: 2rem;
          }
        }
      }
    }

    &-splash {
      height: 100vh !important;
    }

    .cls-1 {
      fill: $urchin-black !important;
    }
  }

  .product-intro {
    // background-image: none !important;
    height: auto !important;
  }

  .product-intro-rabbit {
    height: 100vh;
    padding: 3rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    scroll-snap-align: start;

    @media (min-width: 992px) {
      height: auto;
      padding: 0;
      display: block;
    }

    &-img {
      width: 95vw !important;
      margin: 0;
    }
  }

  .product-intro-rabbit-mobile-head {
    margin: 0;
    font-family: "Wakerobin", serif;
    font-size: 4.582rem;
    line-height: 3.582rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    text-transform: full-width;
    -webkit-transform: scale(1.4, 1);
    -moz-transform: scale(1.4, 1);
    -ms-transform: scale(1.4, 1);
    -o-transform: scale(1.4, 1);
    transform: scale(1.4, 1);
    position: relative;
    top: 3rem;
  }

  .product-intro-rabbit-mobile-copy {
    color: #000;
    font-family: "Wakerobin", serif;
    font-size: 3.835rem;
    line-height: 2.835rem;
    text-transform: full-width;
    -webkit-transform: scale(1.4, 1);
    -moz-transform: scale(1.4, 1);
    -ms-transform: scale(1.4, 1);
    -o-transform: scale(1.4, 1);
    transform: scale(1.4, 1);
  }

  .product-intro-rabbit-img {
    width: 60vw;

    @media (min-width: 992px) {
      width: 40vw !important;
      margin-top: 30vw !important;
    }
  }

  .product-intro-text {
    height: 100vh;
    text-align: center;
    justify-content: center;

    @media (min-width: 992px) {
      height: auto;
    }

    &-text {
    }
  }

  .product-intro-text > h1 {
    font-family: "Wakerobin", serif;
    font-size: 3.928rem;
    line-height: 3.928rem;
    font-weight: 600;
    text-transform: full-width;
    -webkit-transform: scale(1.4, 1);
    -moz-transform: scale(1.4, 1);
    -ms-transform: scale(1.4, 1);
    -o-transform: scale(1.4, 1);
    transform: scale(1.4, 1);

    @media (min-width: 992px) {
      font-size: 4.582rem;
      line-height: 4.582rem;
    }
  }

  .product-intro-text-copy {
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: none;
    margin-top: -0.5rem;

    @media (min-width: 992px) {
      border: none;
    }

    & > p {
      color: #000;
      font-size: 1.625rem;
      margin-bottom: 0;

      @media (min-width: 992px) {
        font-size: 2.268rem;
        margin-bottom: unset;
      }
    }
  }

  //   &.lucky {
  //     background: $urchin-blue;

  //     &-intro {
  //       background: $urchin-blue;
  //       position: relative;

  //       &-background {
  //         display: none;

  //         @media (min-width: 992px) {
  //           display: block;
  //           top: 0;
  //           bottom: 0;
  //           left: 0;
  //           right: 0;
  //           z-index: 1;

  //           &-parallax {
  //             height: 200px;
  //             width: auto;
  //             position: fixed;

  //             &:first-of-type {
  //               top: 25%;
  //               left: 25%;
  //               transform: rotate(-12deg);
  //             }
  //             &:nth-of-type(2) {
  //               height: 400px;
  //               top: 45%;
  //               left: 15%;
  //               transform: rotate(25deg);
  //             }
  //             &:nth-of-type(3) {
  //               height: 300px;
  //               top: 10%;
  //               right: 20%;
  //               transform: rotate(-33deg);
  //             }
  //             &:last-of-type {
  //               height: 250px;
  //               top: 50%;
  //               right: 25%;
  //               transform: rotate(-20deg);
  //             }
  //           }
  //         }
  //       }
  //       &-header,
  //       &--description {
  //         justify-content: center;
  //         align-items: unset;

  //         @media (min-width: 992px) {
  //         }
  //       }
  //       &-header {
  //         height: 100vh;
  //         z-index: 10;

  //         &-bottle {
  //           display: none;

  //           @media (min-width: 992px) {
  //             margin-top: -50vh;
  //             width: 50%;
  //             display: flex;
  //             object-fit: cover;
  //             align-items: center;
  //             justify-content: center;
  //             z-index: 10;
  //           }
  //         }

  //         &-logo {
  //           width: 100% !important;

  //           &-title {
  //             color: $urchin-black;
  //             font-family: $urchin-font-title;
  //             text-align: center;
  //             font-size: 3.42rem;
  //           }

  //           &-img {
  //             margin-bottom: 2rem;
  //           }

  //           .lead {
  //             font-size: 3.835rem;
  //             font-weight: 600;
  //             line-height: 3.835rem;
  //             text-transform: uppercase;
  //             text-align: center;
  //           }
  //         }
  //       }

  //       &-description {
  //         margin: 0 auto;
  //         padding: 35vh 0 5rem;
  //         text-align: center;
  //         justify-content: flex-end;
  //         position: relative;
  //         z-index: 10;

  //         @media (min-width: 992px) {
  //           //   background: linear-gradient(180deg, transparent, rgba($urchin-blue, 1));
  //           flex-direction: column;
  //         }

  //         &-title {
  //           color: $urchin-black;
  //           border: 0.6rem solid #000;
  //           padding: 2rem;
  //           font-size: 3.928rem;
  //           line-height: 3.928rem;

  //           @media (min-width: 992px) {
  //             margin-bottom: 3rem;
  //             border: none;
  //             font-size: 5.885rem;
  //             line-height: 5.885rem;
  //           }
  //         }

  //         &-copy {
  //           font-size: 1.625rem;
  //           border: 0.6rem solid #000;
  //           border-top: none;
  //           padding: 2rem;
  //           margin-top: -1rem;

  //           @media (min-width: 992px) {
  //             border: none;
  //             padding: 0;
  //             margin-top: 0m;
  //           }

  //           & p {
  //             margin: 0 auto;
  //             font-size: 1.4rem;
  //             margin-bottom: 1rem;

  //             &:last-of-type {
  //               margin-bottom: 0;
  //             }

  //             @media (min-width: 992px) {
  //               width: 60%;
  //               border: none;
  //               font-size: 1.9rem;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }

  //   section {
  //     height: auto;
  //   }

  //   &-suggestions {
  //     background: $urchin-blue;
  //     color: $urchin-black;
  //     height: auto !important;
  //     padding: 5rem 0;
  //     text-align: center;
  //     position: relative;
  //     z-index: 10;

  //     .container > .row {
  //       margin: 1rem;
  //       justify-content: center;
  //       align-items: center;

  //       @media (min-width: 992px) {
  //         padding: 0;
  //       }
  //     }

  //     &-display {
  //     }

  //     &-drink {
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;
  //       justify-content: flex-end;
  //       display: none;

  //       &:first-of-type {
  //         display: block;
  //       }

  //       @media (min-width: 992px) {
  //         display: block;
  //       }

  //       &-img {
  //         width: 100%;
  //       }

  //       &-wrapper {
  //         min-width: 100%;
  //         width: 23.422rem;
  //         max-width: 100%;
  //         min-height: 7.689rem;
  //         margin: 0;
  //         padding: 0;
  //         border: 0.3rem solid $urchin-black;
  //         display: grid;
  //         grid-template-areas:
  //           "title"
  //           "description";

  //         @media (min-width: 768px) {
  //           grid-template-areas: "title description";
  //           grid-template-columns: repeat(2, minmax(0, 1fr));
  //         }

  //         &-title,
  //         &-description {
  //           display: flex;
  //           justify-content: center;
  //           align-items: center;
  //         }

  //         &-title {
  //           font-size: 1.953rem;
  //           line-height: 1.953rem;
  //           border-bottom: 0.3rem solid $urchin-black;
  //           font-family: $urchin-font-title;
  //           text-transform: uppercase;
  //           grid-area: title;

  //           @media (min-width: 768px) {
  //             border-bottom: none;
  //             border-right: 0.3rem solid $urchin-black;
  //             font-size: 2.602rem;
  //             line-height: 2.602rem;
  //             // border-right: 0.3rem solid $urchin-black;
  //           }
  //         }

  //         &-description {
  //           padding: 0.5rem;
  //           font-family: $urchin-font-body;
  //           font-size: 0.975rem;
  //           grid-area: description;
  //         }
  //       }
  //     }

  //     &-dots {
  //       padding: 1rem 0;
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;

  //       @media (min-width: 992px) {
  //         display: none;
  //       }

  //       &-dot {
  //         background: $urchin-white;
  //         height: 1rem;
  //         width: 1rem;
  //         margin: 0 0.5rem;
  //         border: 0.03125rem solid $urchin-black;
  //         border-radius: 100%;

  //         &.active {
  //           background: $urchin-black;
  //           border: 0.03125rem solid $urchin-white;
  //         }
  //       }
  //     }
  //   }
  //   &-splash {
  //     display: none;
  //     position: relative;
  //     z-index: 10;

  //     @media (min-width: 992px) {
  //       max-height: 75vh;
  //       overflow: hidden;
  //       display: block;
  //     }

  //     &-img {
  //       width: 100%;
  //       background-size: cover;
  //     }
  //   }

  //   &-slogan {
  //     background: $urchin-cream;
  //     color: $urchin-black;
  //     padding: 2rem 0;
  //     text-align: center;

  //     &-text {
  //       width: 100%;
  //       padding: 2rem;
  //       border: 0.6rem solid black;
  //       font-weight: bold;

  //       h3 {
  //         font-weight: bold;

  //         span {
  //           color: $urchin-blue;
  //         }
  //       }
  //     }
  //   }
}
