.product {
  &.scorch {
    background: $urchin-orange;
    color: $urchin-black;

    .product-intro-overlay::after {
      content: "";
      width: 100%;
      height: 650px;
      background: linear-gradient(to bottom, rgba($urchin-orange, 0), $urchin-orange 50%);
      position: absolute;
      left: 0;
      right: 0;
      bottom: -100px;
      z-index: 10;
    }
  }

  &-intro {
    background-image: url("../img/urchin-scorch-background.svg") !important;
    background-position: center 10%;
    background-size: 140%;
    background-repeat: no-repeat;

    @media (min-width: 992px) {
      background-position: center 50%;
      background-size: 60%;
      background-repeat: no-repeat;
    }

    &-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      scroll-snap-align: start;

      @media (min-width: 992px) {
        scroll-snap-align: start;
      }

      &-bottle {
        width: 100%;
      }
    }

    &-text {
      flex-direction: column;
      // scroll-snap-align: start;

      @media (min-width: 992px) {
        // scroll-snap-align: end;
      }

      &-title {
        -webkit-transform: scale(0.7, 1);
        -moz-transform: scale(0.7, 1);
        -ms-transform: scale(0.7, 1);
        -o-transform: scale(0.7, 1);
        transform: scale(0.7, 1);
      }
    }

    &-overlay {
      &-parallax {
        position: fixed;

        &:first-of-type {
          height: 150px;
          width: auto;
          top: 65%;
          right: 20%;
          transform: rotate(-56deg);
        }
        &:nth-of-type(2) {
          height: 150px;
          width: auto;
          top: 75%;
          left: 15%;
          transform: rotate(15deg);
        }
        &:nth-of-type(3) {
          height: 300px;
          width: auto;
          top: 25%;
          right: 10%;
          transform: rotate(-33deg);
        }
        &:last-of-type {
          height: 250px;
          width: auto;
          top: 30%;
          left: 10%;
          transform: rotate(-20deg);
        }
      }
    }

    &-mobile {
      z-index: 10;

      &-title {
        color: $urchin-black;
        font-family: $urchin-font-title;
        font-size: 3.42rem;
        line-height: 3.42rem;
        z-index: inherit;
      }

      &-subtitle {
        color: $urchin-black;
        font-family: $urchin-font-body;
        font-size: 2.8rem;
        line-height: 2.8rem;
        z-index: inherit;
      }

      &-arrow {
        height: 2.5rem;
      }
    }

    img {
      width: 100%;
      margin: 1rem 0;
      z-index: 10;

      @media (min-width: 992px) {
        width: 40%;
        margin: 0.5rem 0;
      }
    }
  }

  &-suggestions {
    background: $urchin-orange;
    scroll-snap-align: start;

    @media (min-width: 992px) {
      background: $urchin-orange;
    }

    &-title {
      font-size: 7.122rem;
      line-height: 7.122rem;
    }

    &-copy {
      margin: 0;
      font-size: 2.249rem;
      line-height: 2.249rem;
    }

    &-subtitle {
      font-size: 3.266rem;
      line-height: 3.266rem;
    }

    &-drinks {
    }
  }

  &-splash {
    height: auto;
    // scroll-snap-align: start;
  }
}
