.hamburger {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  top: 0.5625rem;
  right: 1rem;
  z-index: 1040;

  @media (min-width: 992px) {
    right: calc(4.75rem);
  }

  @media (min-width: 1200px) {
    right: 8.75rem;
  }

  @media (min-width: 1710px) {
    // right: calc((100vw - 1380px) / 2);
    right: calc(min(10rem, calc((100vw - 1710px) / 2rem)));
  }

  &-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 500ms;

    &-line {
      background: $urchin-white;
      width: 100%;
      height: 0.1875rem;
      border-radius: 0.2rem;
      transform-origin: right;
      transition: all 500ms 500ms;
    }
  }
}
