.navbar {
  .container {
    width: 100%;
  }
  &-brand {
    &-logo {
      @media (min-width: 992px) {
        margin-left: 4.75rem;
      }
      @media (min-width: 1200px) {
        margin-left: 8.75rem;
      }

      @media (min-width: 1380px) {
        margin-left: 4.75rem;
      }

      @media (min-width: 1710px) {
        margin-left: 0;
      }

      width: 9.875rem;
    }
  }

  &-nav {
    &-bars {
      width: 1.5rem;
    }
  }

  &-buynow {
    position: absolute;
    height: 5rem;
    top: 5rem;
    right: 0.75rem;
    transition: display 500ms;

    &-button {
    }

    @media (min-width: 1380px) {
      right: calc((100vw - 1380px) / 2);
    }
  }
}

.checkbox:checked ~ .navbar .navbar-buynow {
  display: none;
}
