.nav-sidebar {
  position: relative;
  display: flex;

  &-navigation {
    background: $urchin-white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: -100vw;
    transition: right 800ms cubic-bezier(1, 0, 0, 1);
    z-index: 200;

    @media (min-width: 992px) {
      width: 12rem;
      right: -12rem;
    }

    @media (min-width: 1200px) {
      width: 20rem;
      right: -20rem;
    }

    @media (min-width: 1710px) {
      // width: min(calc((100vw - 1710px) + 2.5rem), 20rem);
      min-width: 20rem;
    }
  }

  &-list {
    margin-top: 5rem;
    padding: 0;

    &-item {
      text-align: center;
      list-style: none;
      //   transition: all 300ms ease;

      &-link {
        color: $urchin-black;
        padding: 2rem;
        font-family: $urchin-font-header;
        font-size: 3rem;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.0625rem;
        font-weight: 500;
        transition: background-image 150ms 500ms ease-out;
        display: block;

        &:hover {
          background: $urchin-black;
          color: $urchin-white;
          opacity: 1;
        }

        &-lucky:hover {
          background: $urchin-blue;
          background-image: url("../img/urchin-lucky-background.svg");
          background-size: 120%;
          background-position: center;
          background-repeat: no-repeat;
          color: $urchin-black;
        }

        &-scorch:hover {
          background: $urchin-orange;
          background-image: url("../img/urchin-scorch-background.svg");
          background-size: 120%;
          background-position: center;
          background-repeat: no-repeat;
          color: $urchin-black;
        }
      }
    }
  }

  .checkbox:checked ~ .nav-sidebar-navigation {
    right: 0;
  }

  .checkbox:checked ~ .hamburger .hamburger-menu {
    transform: rotateZ(90deg);
  }

  .checkbox:checked ~ .hamburger .hamburger-menu-line {
    background: $urchin-black;
  }

  .checkbox:checked ~ .hamburger .hamburger-menu-line-1 {
    transform: rotateZ(-40deg);
  }

  .checkbox:checked ~ .hamburger .hamburger-menu-line-2 {
    opacity: 0;
  }

  .checkbox:checked ~ .hamburger .hamburger-menu-line-3 {
    transform: rotateZ(40deg);
  }
}
