/**
 * Colours
 */
$urchin-white: #ffffff;
$urchin-black: #000000;
$urchin-orange: rgb(255, 81, 0);
$urchin-blue: rgb(59, 186, 201);
$urchin-cream: #faebcf;

/**
 * Fonts
 */
$urchin-font-header: "Druk", sans-serif;
$urchin-font-title: "Wakerobin", serif;
$urchin-font-title-extd: "Wakerobin Extended SemiBold", serif;
$urchin-font-body: "Migra", serif;
$urchin-font-button: "DIN Condensed", sans-serif;
$urchin-font-general: "itc-american-typewriter", serif;
