/**
 * American Typewriter
 */

@import url(https://use.typekit.net/pdc5nwx.css);

/**
 * DIN Condensed
 */
@font-face {
  font-family: "DIN Condensed";
  src: url(../fonts/DINCondensed-Bold.eot);
  src: url(../fonts/DINCondensed-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/DINCondensed-Bold.woff2) format(woff2), url(../fonts/DINCondensed-Bold.woff) format("woff2"), url(../fonts/DINCondensed-Bold.ttf) format("truetype"), url(../fonts/DINCondensed-Bold.svg) format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

/**
 * Druk XCond Web
 */
// @import url(//db.onlinewebfonts.com/c/988d4c9843303bc94792a4ad537f1cfb?family=Druk+Bold);
@font-face {
  font-family: "Druk Bold";
  src: url("//db.onlinewebfonts.com/t/988d4c9843303bc94792a4ad537f1cfb.eot");
  src: url("//db.onlinewebfonts.com/t/988d4c9843303bc94792a4ad537f1cfb.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/988d4c9843303bc94792a4ad537f1cfb.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/988d4c9843303bc94792a4ad537f1cfb.woff") format("woff"), url("//db.onlinewebfonts.com/t/988d4c9843303bc94792a4ad537f1cfb.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/988d4c9843303bc94792a4ad537f1cfb.svg#Druk Bold") format("svg");
}
// @font-face {
//   font-family: "Druk";
//   src: url(../fonts/Druk-XCondSuper.eot);
//   src: url(../fonts/Druk-XCondSuper.eot?#iefix) format("embedded-opentype"), url(../fonts/Druk-XCondSuper.woff2) format("woff2"), url(../fonts/Druk-XCondSuper.woff) format("woff"), url(../fonts/Druk-XCondSuper.ttf) format("truetype"), url(../fonts/Druk-XCondSuper.svg#Druk) format("svg");
// }

/**
 * Wakerobin Var
 */
@import url("http://fonts.cdnfonts.com/css/wakerobin");

/**
 * Migra
 */

@font-face {
  font-family: "Migra";
  src: url(../fonts/Migra-Regular.eot);
  src: url(../fonts/Migra-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Migra-Regular.woff2) format(woff2), url(../fonts/Migra-Regular.woff) format("woff2"), url(../fonts/Migra-Regular.ttf) format("truetype"), url(../fonts/Migra-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
