* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $urchin-black;
  color: $urchin-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $urchin-font-header;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 6.841rem;
  line-height: 5.687rem;

  @media (min-width: 992px) {
    font-size: 16.687rem;
    line-height: 14.137rem;
    // font-size: calc(min(30vh, 16.687rem));
    // line-height: calc(min(28vh, 14.137rem));
  }
}

h2 {
  font-size: 8.343rem;
}

.urchin-wrapper {
  overflow: scroll;
  height: -webkit-fill-available;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;

  section {
    height: -webkit-fill-available;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
  }
}

p,
a {
  color: $urchin-white;
  font-family: $urchin-font-general;
  font-size: 1.51rem;

  &.urchin-button {
    width: 12rem;
    // width: cacl(min(12rem, 25vh));
    height: auto;
    margin-top: 4rem;
    transition: 300ms;

    &:hover {
      opacity: 1;
    }

    &-scorch {
      transition: 300ms;

      .cls-1 {
        fill: none;
        transition: 300ms;
      }
      .cls-2 {
        fill: $urchin-black;
        transition: 300ms;
      }
      .cls-3 {
        clip-path: url(#clip-path);
        transition: 300ms;
      }
      .cls-4 {
        fill: $urchin-orange;
        transition: 300ms;
      }

      &:hover {
        .cls-1 {
          fill: none;
        }
        .cls-2 {
          fill: rgba($urchin-orange, 0.9);
        }
        .cls-3 {
          clip-path: url(#clip-path);
        }
        .cls-4 {
          fill: $urchin-black;
        }
      }
    }

    &-lucky {
      transition: 300ms;

      .st0 {
        display: none;
      }
      .st1 {
        display: inline;
        fill: $urchin-black;
      }
      .st2 {
        display: inline;
      }
      .st3 {
        clip-path: url(#SVGID_2_);
        fill: #ed6926;
      }
      .st4 {
        fill: #ed6926;
      }
      .st5 {
        fill: $urchin-cream;
      }
      .st6 {
        clip-path: url(#SVGID_4_);
        fill: $urchin-black;
      }
      .st7 {
        fill: $urchin-black;
      }
    }

    &:hover {
      .st1,
      .st6,
      .st7 {
        fill: $urchin-cream;
        transition: 300ms;
      }
      .st5 {
        fill: $urchin-black;
        transition: 300ms;
      }
    }
  }
}

a {
  text-decoration: none;
  transition: 300ms;
  display: block;

  &:hover {
    color: $urchin-white;
    text-decoration: none;
    opacity: 0.7;
  }
}
