.urchin-landing {
  scroll-snap-align: start;

  &-header {
    h1 {
      span {
        @media (min-width: 992px) {
          font-size: 0.5em;
          display: block;
        }
      }
    }
  }

  &-subheader {
    margin-top: 4rem;

    @media (min-width: 992px) {
      margin-top: 0;
    }

    img {
      height: 2.875rem;
    }
  }
}
