.urchin-portfolio {
  height: 200vh !important;
  width: 100%;
  display: grid !important;
  grid-template-areas:
    "scorch"
    "lucky";
  scroll-snap-align: unset !important;

  @media (min-width: 992px) {
    height: 100vh;
    grid-template-areas: "scorch lucky";
    grid-template-columns: repeat(2, 50%);
  }

  &-scorch {
    background: $urchin-orange;
    background-image: url("../img/urchin-scorch-background.svg");
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 150%;
    background-position: center center;
    background-repeat: no-repeat;
    scroll-snap-align: start;

    @media (min-width: 992px) {
      width: 50vw;
    }
  }
  &-lucky {
    background: $urchin-blue;
    background-image: url("../img/urchin-lucky-background.svg");
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;

    @media (min-width: 992px) {
      width: 50vw;
    }
  }

  &-bottle {
    // height: 70%;
    height: 55vh;
    max-width: 90vw;
  }

  &-button {
    width: 12rem;
    height: auto;
    margin-top: 4rem;
  }
}
