.product {
  color: $urchin-black !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $urchin-font-title;
    font-weight: 600;
  }

  p {
    font-family: $urchin-font-body;
  }
  &-intro {
    text-align: center;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: 992px) {
      height: 150vh;
      align-content: center;
    }

    &-image {
      scroll-snap-align: start;
    }

    &-overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
    }

    &-text {
      color: $urchin-black;
      margin-top: 5rem;
      height: 100vh;
      display: flex;
      position: relative;
      scroll-snap-align: start;
      z-index: 10;

      &-wrapper {
        border: 0.6rem solid $urchin-black;

        @media (min-width: 992px) {
          border: none;
        }
      }

      @media (min-width: 992px) {
        height: fit-content;
        margin-block: 5rem;
        scroll-snap-align: end;
      }

      &-title {
        // border: 0.6rem solid #000;

        h2 {
          color: $urchin-black;
          font-family: $urchin-font-title;
          font-size: 3.928rem;
          font-weight: 600;
          line-height: 3.928rem;
          z-index: 10;

          @media (min-width: 992px) {
            padding: 0;
            font-size: 5.885rem;
            line-height: 5.885rem;
          }
        }

        span {
          font-weight: bold;

          @media (min-width: 992px) {
            font-weight: unset;
          }
        }

        @media (min-width: 992px) {
          border: none;
          font-size: 5.885rem;
          line-height: 5.885rem;
          text-transform: full-width;
          -webkit-transform: scale(1.4, 1);
          -moz-transform: scale(1.4, 1);
          -ms-transform: scale(1.4, 1);
          -o-transform: scale(1.4, 1);
          transform: scale(1.4, 1);
        }
      }

      &-body {
        color: #000000;
        margin-top: -0.5rem;
        padding: 3.5rem 1rem 3rem;
        border: 0.6rem solid #000;
        border-top: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Migra", serif;
        z-index: 10;

        @media (min-width: 992px) {
          border: none;
          margin: 0;
          padding: 0.5rem 0;
        }

        p {
          color: $urchin-black;
          font-size: 1.625rem;
          line-height: 1.625rem;

          @media (min-width: 992px) {
            font-size: 2.2rem;
            line-height: 2.2rem;
          }
        }
      }
    }
  }

  &-suggestions {
    height: 100vh;
    position: relative;
    display: flex;
    scroll-snap-align: start;
    z-index: 10;

    &-cream {
      // background: #fceadc !important;
      background: #f8eadd !important;
      padding: 3rem 0;
    }

    &-title {
      font-size: 1.953rem;
      line-height: 1.953rem;
      font-family: $urchin-font-title;
      text-transform: uppercase;

      @media (min-width: 992px) {
        font-size: 4.602rem;
        line-height: 4.602rem;
      }
    }

    &-drink {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      display: none;
      text-align: center;
      // scroll-snap-align: start;

      &:first-of-type {
        display: block;
      }

      @media (min-width: 992px) {
        display: block;
      }

      &-img {
        width: 100%;
      }

      &-wrapper {
        min-width: 100%;
        width: 23.422rem;
        max-width: 100%;
        min-height: 7.689rem;
        margin: 0;
        padding: 0;
        border: 0.3rem solid $urchin-black;
        display: grid;
        grid-template-areas:
          "title"
          "description";

        @media (min-width: 768px) {
          grid-template-areas: "title description";
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &-title,
        &-description {
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-title {
          margin: 0;
          font-size: 1.953rem;
          line-height: 1.953rem;
          border-bottom: 0.3rem solid $urchin-black;
          grid-area: title;

          @media (min-width: 768px) {
            margin-block: -0.02rem;
            border-bottom: none;
            border-right: 0.3rem solid $urchin-black;
            font-size: 2.602rem;
            line-height: 2.602rem;
            // border-right: 0.3rem solid $urchin-black;
          }

          h4 {
            margin: 0;
            font-size: 1.953rem;
            line-height: 1.953rem;
            font-family: "Wakerobin", serif;
            text-transform: uppercase;
            text-transform: full-width;
            -webkit-transform: scale(0.7, 1);
            -moz-transform: scale(0.7, 1);
            -ms-transform: scale(0.7, 1);
            -o-transform: scale(0.7, 1);
            transform: scale(0.6, 1);
            text-align: center;
            font-weight: 600;
            margin: 0;
          }

          @media (min-width: 768px) {
            border-right: 0.3rem solid $urchin-black;
            font-size: 2.81rem;
            line-height: 2.453rem;
          }
        }

        &-description {
          padding: 0.5rem 2rem;
          font-family: $urchin-font-body;
          font-size: 0.975rem;
          grid-area: description;
        }
      }
    }

    &-dots {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 992px) {
        display: none;
      }

      &-dot {
        background: $urchin-white;
        height: 1rem;
        width: 1rem;
        margin: 0 0.5rem;
        border: 0.03125rem solid $urchin-black;
        border-radius: 100%;

        &.active {
          background: $urchin-black;
          border: 0.03125rem solid $urchin-white;
        }
      }
    }
  }

  &-splash {
    height: 100vh;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
    z-index: 10;

    @media (min-width: 992px) {
      overflow: hidden;
      display: block;
    }

    &-img {
      width: 150%;
      background-size: cover;
      background-position: center;

      @media (min-width: 992px) {
        height: 100%;
        background-position: center;
      }
    }
  }

  &-buy {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;

    &-bottle {
      width: 80%;
      margin-bottom: 5rem;
    }

    &-button {
      background: $urchin-black;
      color: $urchin-white;
      padding: 1rem 2rem;
      font-family: $urchin-font-title;
      font-size: 1.4rem;
      text-transform: uppercase;

      &:hover {
        background: $urchin-white;
        color: $urchin-black;
      }
    }
  }

  .urchin-signoff {
    h2 {
      color: $urchin-white;
      font-family: $urchin-font-header !important;
      line-height: 0.842em;

      @media (min-width: 992px) {
        // font-size: calc(min(27vh, 18.85rem));
        // line-height: calc(min(25vh, 15.875rem));
        font-size: 12.85rem !important;
        line-height: 10.875rem !important;
      }

      @media (min-width: 1200px) {
        font-size: 18.85rem;
        line-height: 14.875rem;
      }
    }
  }
}

@import "./products/scorch";
@import "./products/lucky";
