.urchin-signoff {
  background-color: $urchin-black;
  display: block;
  height: 100vh !important;
  position: relative;
  scroll-snap-align: start;
  z-index: 10;

  p,
  a {
    font-size: 1rem;
  }

  p {
    margin-bottom: 0;
  }

  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-header {
    text-align: center;
    text-transform: uppercase;

    h2 {
      color: $urchin-white;
      font-family: $urchin-font-header !important;
      line-height: 0.842em;

      @media (min-width: 992px) {
        // font-size: calc(min(27vh, 18.85rem));
        // line-height: calc(min(25vh, 15.875rem));
        font-size: 12.85rem !important;
        line-height: 10.875rem !important;
      }

      @media (min-width: 1200px) {
        font-size: 18.85rem;
        line-height: 14.875rem;
      }
    }
  }

  &-footer {
    width: 100%;
    margin: 0 0 4rem;
    justify-content: center;
    text-align: center;

    @media (min-width: 992px) {
      text-align: left;
      margin-left: 0;
    }

    &-section {
      margin-top: 2rem;

      &-nologo {
        @media (min-width: 992px) {
          margin-top: 3rem;
          padding-top: 1.75rem;
        }
      }
    }
  }
}
