.terms {
  height: auto;
  padding: 2rem 1rem;
  font-size: 0.5em;

  @media (min-width: 992px) {
    height: 100vh;
    padding: unset;
    font-size: 1em;
  }

  &-header {
    font-size: 9.375rem;

    h1 {
      @media (min-width: 992px) {
        font-size: 2em;
      }
    }
  }

  &-content {
    overflow-y: scroll;
    p {
      font-size: 1rem;

      @media (min-width: 992px) {
        columns: 2;
      }
    }
  }
}
